<footer>
  <div class="container">


      A progressive offline first CRUD app used as the main project for TM470.
      Code licensed under CL.
      <span class="attribution">
          &copy; {{ today | date: 'yyyy' }}.
    </span>

  </div>
</footer>
