<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
                              [opened]="!isScreenSmall()"
                              [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
      <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list> 
  </mat-sidenav>

<div class="app-sidenav-content">
  <app-toolbar (toggleSidenav) = "sidenav.toggle()"></app-toolbar>
  <div class="wrapper">
  <router-outlet></router-outlet>
  <app-layout-footer></app-layout-footer>
  </div>
</div>
</mat-sidenav-container>