<mat-toolbar color='primary'>

    <button mat-button  class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span> Sheep Hub Flock Manager</span>
  </mat-toolbar>